/* ========================================================================
 Component: List
=========================================================================== */

.hi.list {
  list-style: none;
  padding: 0;
  margin: 0 0 $padding-small 0;
  & > li {
    padding: $padding-small 0;
    margin: 0;
    border-bottom: 1px solid $color-base-lighter;

    &:last-child {
      border-bottom: none;
    }

    .hi.list-label {
      color: $color-base;
      font-size: $global-font-size-small;
      margin-bottom: $padding-xxsmall;
      .hi.label {
        margin-left: $padding-xxsmall;
      }
    }

    .hi.list-content {
      margin: 0;
      p {
        margin: 0;
      }
    }
  }
}